/* div{
    width: 300px;
    height: 300px
} */

.freezing{
    background-color: aqua
}
.fair{
    background-color: orange
}
.hell-scape{
    background-color: red
}

#root{
    display: grid;
    grid-template-columns: repeat(10, 1fr)
  }