#ex-2{
    display: grid;
    grid-template-columns: repeat(10, 1fr)
  }

button{
      width: 50px;
      height: 15px;
      background-color: grey; 
  }
  
label{
    text-decoration: underline;
    font-size: 12px;
    color: darkred;
    font-weight: bold;
}

.exercise {
    margin-bottom: 10px;
}
